.Login{
    margin-top: 80px;
}
.email{
    width: 350px;
    height: 38px;
    font-size: 20px;
    border-radius: 2px;;
}
.emailname{
    text-align: left;
    margin-right: 310px;
    font-size: 17px;
    
}
.password{
    width: 350px;
    height: 38px;
    font-size: 20px; 
}
.passwordname{
    text-align: left;
    margin-right: 296px;
    font-size: 17px;
      
}
.pass{
    margin-top: 10px;
}
.loginbutton{
    width: 355px;
    height: 40px;
    margin-top: 20px;
}